* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(./assets/background_adopt.jfif);
    background-repeat: no-repeat;
    background-size: 50%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: yellow;
    border: solid 1px black;
}


a {
    text-decoration: none;
    color: black;
    
}

.adote {
    background-color: black;
    color: yellow;
}

.navbar {
    display: flex;
    font-weight: 500;
}

.home, .contato, .sobre, h3 {
    padding: 20px;
}

a:hover {
    color: white;
}

.adote:hover {
    font-size: xx-large;
}

.form {
    border-width: 1px;
    border-style: solid;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0;
    height: 60%;
    width: 40%;
    margin-right: 3em;
    margin-top: 7em;
    background-color: yellow;
}

.formtext {
    font-weight: bold;
}

.bxs-user, .bx-envelope {
    position: absolute;
    align-self: center;
    margin-right: 29em;
}

input {
    width: 80%;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid hsla(0, 16%, 82%, 0.627);
    padding: 0.188rem 0.188rem 0.188rem 1.25rem;
    font-size: 1rem;
    font-weight: 600;
}

button {
    width: 25%;
    border-radius: 10px;
    border: 1px solid hsla(0, 16%, 82%, 0.627);
    height: 2rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: black;
    color: yellow;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.name, .email {
    display: flex;
    justify-content: center;
}


.footer {
    width: 100%;
    height: 2em;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid black;
    background-color: yellow;
}

.git {
    position: fixed;
    left: 0;
    
}


@media (max-width: 700px) {
    .adote {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
        border-radius: 5px;
        
    }

    .navbar {
        flex-direction: column;
    }

    .home, .sobre, .contato {
        padding: 0;
        display: flex;
        justify-content: center;
        border-radius: 4px;
    }

    a:hover {
        color: white;
    }

}